:root{
  --orange:#e67e22;
  --dark:#333;
  --light-color:#777;
  --container-light:#E8E8CC;
  --container-dark:#010e04;
  --text-light:#010e04;
  --text-dark:#E8E8CC;
  --pop:#FFCC1D;
  --nav-container-dark:#0B4619;
  --nav-container-light:#95CD41

}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

